
body {
  background-color: #1a132d;
  color: white;
  font-family: "Saira Semi Condensed", sans-serif;
  text-align: center;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
  font-weight: 600;
	font-weight: bold;
  font-size: 40;
  height: 80;
}

footer {
	font-style: italic;
	font-size: 90%;
}
