
body {
    background-image: url("http://wallfon.com/walls/space/the-asteroid-belt.jpg");
    background-color: lemonchiffon;
    color: rgb(0,0,0);
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
	
}

footer {
	font-style: italic;
	font-size: 90%;
}

img{
    display: inline-block;
}
